body {
    background-color: rgb(81, 102, 145);
}

#banner {
    width: 100%;
}

.main {
    background-color: azure;
    padding: 30px;
}

.main-title {
    background-color: #22304091;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    padding-left: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

.title-center {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #FF0000;
}

.items {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    font-size: 28px;
    margin-bottom: 30px;
}

.imagembeneficio {
    width: 60%;
}